@model CategoriesModel

<div class="container">

    <partial name="_StoreSettingsHeader"/>
    <script type="text/javascript">
        $("#productCategories").addClass("active");
    </script>


    <div class="tab-border">
        <h4 class="tab-title">Produktkategorien</h4>
        <hr class="tab-line"/>

        <div class="col-12">


            <form asp-controller="Stores" asp-action="ProductCategories" method="post" role="form">
                <div class="row">

                    <div class="col-sm-12">
                        <h5>Hauptkategorie</h5>
                        <div class="alert alert-info">
                            Wenn du keine Hauptkategorie auswählst, wird dein Pin auf der Karte nur rot (geschlossen) oder grün (geöffnet) angezeigt.
                        </div>
                        <span>Welches Symbol soll in deinem Pin auf der Karte sein? </span>
                        <select asp-for="@Model.MainCategoryId"
                                asp-items="@(new SelectList(Model.SelectedCategories, "Id", "Name"))">
                            <option>Hauptkategorie auswählen</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <div class="col-sm-12 mb">
                        <h5>Kategorien auswählen:</h5>
                    </div>
                </div>

                <div class="row">

                    @{
                        for (int i = 0; i < Model.SelectedCategories.Count(); i++)
                        {
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <input asp-for="@Model.SelectedCategories[i].checkboxAnswer" type="checkbox"/>
                                <label class="sl-icon" style="font-size: 24px">@Html.Raw(string.Format("&#x{0}", Model.SelectedCategories[i].Glyph))</label>
                                <label asp-for="@Model.SelectedCategories[i].Id">@Model.SelectedCategories[i].Name</label>
                                <input asp-for="@Model.SelectedCategories[i].Id" type="hidden"/>
                                <input asp-for="@Model.SelectedCategories[i].Name" type="hidden"/>
                                <input asp-for="@Model.SelectedCategories[i].Glyph" type="hidden"/>
                            </div>
                        }
                    }
                    <br/>
                </div>

                <div class="row">
                    <div class="col-sm-12  mb col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <kendo-button type="submit" name="update" icon="check" class="k-primary">Speichern</kendo-button>
                    </div>
                </div>


            </form>


        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#TableStoreForm").kendoValidator({
                // You can define your custom rules here:
                //rules: {}
            
            });


        })
    </script>
</div>